NODE_ENV=development
PORT=4000
HOST=0.0.0.0
CLIENT_ORIGIN=http://localhost:5173

DATABASE_URL="postgresql://velozity:velozity@localhost:5433/velozity_dashboard?schema=public"
REDIS_URL="redis://localhost:6379"

JWT_ACCESS_SECRET="velozity-access-secret-key-32-chars-minimum-safe"
JWT_REFRESH_SECRET="velozity-refresh-secret-key-32-chars-minimum-safe"
ACCESS_TOKEN_TTL="15m"
REFRESH_TOKEN_TTL="7d"
